@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap");
@import "./_vars";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Noto Sans KR", sans-serif;
	width: 100%;

	#root {
		width: 100%;
	}

	a {
		text-decoration: none;
	}

	ol,
	ul {
		list-style: none;
	}
}

// 휴가 상태 색상
.ACCEPTED {
	color: $green !important;
}

.PENDING,
.COMPLETED {
	color: $gray !important;
}

.REFUSED,
.CANCLED {
	color: $red !important;
}

// 진행 상태 바
@keyframes spinner-kf {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinner,
.spinner:before {
	display: inline-block;
	width: 11px;
	height: 11px;
	transform-origin: 50%;
	border: 2px solid transparent;
	border-color: white white transparent transparent;
	border-radius: 50%;
	content: "";
	animation: linear spinner-kf 900ms infinite;
	position: relative;
	vertical-align: inherit;
	line-height: inherit;
}
.spinner {
	top: 3px;
	margin: 0 3px;
}
.spinner:before {
	border-color: white white transparent transparent;
	position: absolute;
	left: -2px;
	top: -2px;
	border-style: solid;
}
